 .rounded-box {
  width: 100%;
  background-color: rgb(206, 230, 171);
  border-radius: 25px 25px 0 0;
  height: auto;
  padding-bottom: 6px;
  padding-top: 6px;
}
 
 .nav-link {
    padding-left: 3px;
    padding-right:3px;
     display: flex;
     flex-direction: column;
     align-items: center;  
     
     
}


.navbar > div.container-fluid {
    justify-content: space-around;
    padding: 0;
}
#navbarNav {
    
    width: 100%;
    margin:auto
   
}
.navbar-nav { 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;    
}
 .nav-item {
    color: rgb(68, 86, 41);

}
 .nav-link > span {
    display: inline-block;
    
}
.nav-link >span :hover {
    color: rgb(30, 43, 12);

}


    
