
.rounded-box {
    width: 100%;
    background-color: rgb(206, 230, 171);
    border-radius: 25px 25px 0 0;
    height: auto;
    padding-bottom: 6px;
    padding-top: 6px;
}

.nav-link {
    padding-left: 3px;
    padding-right:3px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}


.navbar > div.container-fluid {
    justify-content: space-around;
    padding: 0;
}
#navbarNav {
    
    width: 100%;
    margin:auto;
    
}
.navbar-nav { 
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;    
}

.nav-link > span {
    display: inline-block;
    color: rgb(68, 86, 41);
}
.nav-link >span:hover {
    color: rgb(30, 43, 12);

}
.sbar {
    float:left;
}

@media (min-width: 991px){
    #footer{
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 10px;
    }
    .navbar{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height: auto;
    }
     .rounded-box {
  width: 100%;
  background-color: rgb(206, 230, 171);
  border-radius: 0 0 25px 25px ;
  height: fit-content;
  padding-bottom: 2px;
  padding-top: 2px;
}
.navbar-nav {
    align-items: start;
    justify-items: start;
    width:60%;
}
.visib {
    display:inline-block;
  margin:0;
  width: fit-content;
  font-size: 20px;
  font-weight: bold;
  
}

.navbar > div.container-fluid {
        
    display: flex ;
        flex-wrap: nowrap;
        justify-content: flex-start;
    
    }
    .navbar-nav{
        display: flex ;
        flex-direction: row ;
        gap: 40px; 
        margin-left: 50px ;
        
    }
    #navbarNav {
        display: flex ;
        flex-basis: auto;
        justify-content: space-between; 
        align-items: center;
        
    }
    .navbar-brand {
        padding-right: 30px;
        padding-left: 30px;
        
        color: rgb(68, 86, 41);
    }
    #sbar {
        display: flex;
        gap: 10px;
        margin-left: auto;
        padding-right: 20px; 
        flex-shrink: 0;
    }

    #sbar input {
        width: 200px; 
        border: 1px solid rgb(68, 86, 41);
        border-radius: 20px;
       
    }
    
    #sbar button {
        border: 1px solid rgb(68, 86, 41);
        color: rgb(68, 86, 41);
        border-radius: 15px;
    padding: 5px 15px;
    }

    #sbar button:hover {
        background-color: rgb(68, 86, 41);
        color: white;
    }

}


#footer{
    position:fixed;
    bottom: 0;
    left: 0;
    background-color:rgb(185, 202, 159);
    color: rgb(68, 86, 41);
    width:100%;
}

@media (max-width: 991px) {
    .visib {
        display: none;
    }
    #sbar {
        display: none;
    }   
    #footer{
        padding-bottom: 100px;
        padding-left: 10px;
        padding-top: 10px;
    }
}

